{
	"skip_steps": [],

	"output_dir": "/users/mgloud/projects/post-coloc-toolkit/results/test_config",
	
	"tool_settings":

	{
		"cat_results":
		{
			"gwas_display_names":
			{
			},

			"eqtl_display_names":
			{
			}
		}
	}
}














	"analysis_date": "2019-12-20",
	"gwas_aliases":
	{
		"WHR-adj-BMI_GIANT_2018_txt_gz" : "data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz",
		"FastInsu_adjBMI_MAGIC_Europeans_txt_gz" : "data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
		"FastGlu_MAGIC_Europeans_txt_gz" : "data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz",
		"BMI_GIANT_2018_txt_gz" : "data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz",
		"MI_adjBMI_European_txt_gz" : "data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz",
		"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz" : "data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
		"HDL_GLGC_Expanded_txt_gz" : "data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz",
		"TG_GLGC_Expanded_txt_gz": "data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz",
		"T2D_Mahajan_Europeans_txt_gz" : "data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz"
	},

	"gwas_short_names":
	{
		"data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz": "BMI",
                "data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz": "Fasting-Glucose",
                "data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz": "Fasting-Insulin-BMI-Adjusted",
                "data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz" : "High-Density-Lipoprotein",
                "data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz": "Triglycerides",
                "data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz": "M-I",
                "data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": "Insulin-Sensitivity-Index-Model-2",
                "data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz": "Type-2-Diabetes",
                "data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz": "Waist-Hip-Ratio-BMI-Adjusted"
	},

	"eqtl_aliases":
	{
		"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz",
		"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz",
		"Liver_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz",
		"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz"
	},

	"eqtl_short_names":
	{
		"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": "Liver-eQTL",
                "data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz": "Visceral-Adipose-eQTL",
                "data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz": "Subcutaneous-Adipose-eQTL",
                "data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz": "Skeletal-Muscle-eQTL"
	},

	"kept_traits":
	[
		"data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz",
                "data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz",
                "data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
                "data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz",
                "data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz",
                "data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz",
                "data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
                "data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz",
                "data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz"
	],

	"kept_eqtls":
	[
		"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz"
	],
	
	"gwas_snp_list": "output/test_snps/ir-v8_all-gwas_gwas-pval1e-05_gwas-window500000_snps-considered.txt",
	"snp_gene_pair_list": "output/test_snps/ir-v8_all-gwas_gtex-ir_gwas-pval1e-05_eqtl-pval1e-05_gwas-window500000_eqtl-window0_snp-gene-pairs-considered.txt",
	"coloc_test_list": "output/test_snps/ir-v8_all-gwas_gtex-ir_gwas-pval1e-05_eqtl-pval1e-05_gwas-window500000_eqtl-window0_coloc-tests.txt",

	"coloc_out_dirs": ["output/colocalization/raw/ir-v8/ir-v8"],

	"out_dir": "output/post_coloc/2019-12-20/refiltered/eqtls_only",

	"classification_config_file": "scripts/post_coloc/classify_results/ir_classification_2019-09-08.config",

	"target_clpp_mod_cutoff": "0.4",

	"gwas_pval_threshold":
	{
		"standard": 5e-8,
		"exceptions":
		{
			"data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz": 1e-5,
			"data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": 1e-5
		}
	},
	"eqtl_pval_threshold":
	{
		"standard": 1e-5
	}
}
