{
	"cat_results":
	{
		"input_dirs": ["data/coloc_output/ir"],
		"gwas_display_names":
		{
			"BMI_GIANT_2018_txt_gz": "BMI",
			"FastGlu_MAGIC_Europeans_txt_gz": "Fasting-Glucose",
			"FastInsu_adjBMI_MAGIC_Europeans_txt_gz": "FastingInsulin-BMI-Adjusted",
			"HDL_GLGC_Expanded_txt_gz" : "High-Density-Lipoprotein",
			"TG_GLGC_Expanded_txt_gz": "Triglycerides",
			"MI_adjBMI_European_txt_gz": "M-I",
			"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz": "Insulin-Sensitivity-Index-Model-2",
			"T2D_Mahajan_Europeans_txt_gz": "Type-2-Diabetes",
			"WHR-adj-BMI_GIANT_2018_txt_gz": "Waist-Hip-Ratio-BMI-Adjusted"
		},
		"eqtl_display_names":
		{
			"Liver_allpairs_txt_gz_eQTLs_txt_gz": "Liver-eQTL",
			"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz": "Visceral-Adipose-eQTL",
			"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz": "Subcutaneous-Adipose-eQTL",
			"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz": "Skeletal-Muscle-eQTL"
		}
	},
	"post_hoc_filter":
	{
		"input_file": "results/test_config/cat_results_coloc_out.txt",
		"kept_gwas":
		[
			"BMI_GIANT_2018_txt_gz",
			"FastGlu_MAGIC_Europeans_txt_gz",
			"FastInsu_adjBMI_MAGIC_Europeans_txt_gz",
			"HDL_GLGC_Expanded_txt_gz",
			"TG_GLGC_Expanded_txt_gz",
			"MI_adjBMI_European_txt_gz",
			"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz",
			"T2D_Mahajan_Europeans_txt_gz",
			"WHR-adj-BMI_GIANT_2018_txt_gz"
		],

		"kept_eqtls":
		[
			"Liver_allpairs_txt_gz_eQTLs_txt_gz",
			"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz",
			"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz",
			"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz"
		],
		"gwas_pval_threshold":			
		{
			"standard": 5e-8,		
			"exceptions":			
			{
				"MI_adjBMI_European_txt_gz": 1e-5,
				"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz": 1e-5
			}
		},
		"eqtl_pval_threshold":			
		{
			"standard": 1e-5	
		}
	},
	"add_hgnc_names":
	{
		"ensemble_to_hgnc_map_file": "data/hgnc/ensembl_to_hgnc.txt",
		"ensembl_col_index": 1,
		"hgnc_col_index": 3
	},
	"add_rsids":
	{
		"genome_file": "hg38"
	}
}

