{
	"mutate_columns":
	{
		"mutations":
		[
			{
				"in": "gwas_file",
				"out": "gwas_short_trait",
				"map":
				{
					"BMI_GIANT_2018_txt_gz": "BMI",
					"FastGlu_MAGIC_Europeans_txt_gz": "FG",
					"FastInsu_adjBMI_MAGIC_Europeans_txt_gz": "FI",
					"HDL_GLGC_Expanded_txt_gz" : "HDL",
					"TG_GLGC_Expanded_txt_gz": "TG",
					"MI_adjBMI_European_txt_gz": "MI",
					"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz": "ISI",
					"T2D_Mahajan_Europeans_txt_gz": "T2D",
					"Type-2-Diabetes_Xue_2018_txt_gz": "T2D",
					"Type-2-Diabetes_Suzuki_2019_txt_gz": "T2D",
					"Type-2-Diabetes_Spracklen_2020_txt_gz": "T2D",
					"WHR-adj-BMI_GIANT_2018_txt_gz": "WHR"	
				}
			},
			{
				"in": "qtl_file",
				"out": "qtl_tissue",
				"map":
				{
					"Liver_allpairs_txt_gz_eQTLs_txt_gz": "Liver",
					"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz": "Visceral-Adipose",
					"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz": "Subcutaneous-Adipose",
					"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz": "Skeletal-Muscle",
					"Pancreas_allpairs_txt_gz_eQTLs_txt_gz": "Pancreas",
					"Liver_sQTLs_txt_gz": "Liver",
					"Adipose_Visceral_Omentum_sQTLs_txt_gz": "Visceral-Adipose",
					"Adipose_Subcutaneous_sQTLs_txt_gz": "Subcutaneous-Adipose",
					"Muscle_Skeletal_sQTLs_txt_gz": "Skeletal-Muscle",
					"Pancreas_sQTLs_txt_gz": "Pancreas"
				}
			},
			{
				"in": "qtl_file",
				"out": "qtl_type",
				"map":
				{
					"Liver_allpairs_txt_gz_eQTLs_txt_gz": "eQTL",
					"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz": "eQTL",
					"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz": "eQTL",
					"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz": "eQTL",
					"Pancreas_allpairs_txt_gz_eQTLs_txt_gz": "eQTL",
					"Liver_sQTLs_txt_gz": "sQTL",
					"Adipose_Visceral_Omentum_sQTLs_txt_gz": "sQTL",
					"Adipose_Subcutaneous_sQTLs_txt_gz": "sQTL",
					"Muscle_Skeletal_sQTLs_txt_gz": "sQTL",
					"Pancreas_sQTLs_txt_gz": "sQTL"
				}
			}


		]
	},

	"post_hoc_filter":
	{
		"colocalization_threshold": 0.35,
		"kept_gwas":
		[
			"BMI_GIANT_2018_txt_gz",
			"FastGlu_MAGIC_Europeans_txt_gz",
			"FastInsu_adjBMI_MAGIC_Europeans_txt_gz",
			"HDL_GLGC_Expanded_txt_gz",
			"TG_GLGC_Expanded_txt_gz",
			"MI_adjBMI_European_txt_gz",
			"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz",
			"T2D_Mahajan_Europeans_txt_gz",
			"Type-2-Diabetes_Xue_2018_txt_gz",
			"Type-2-Diabetes_Suzuki_2019_txt_gz",
			"Type-2-Diabetes_Spracklen_2020_txt_gz",
			"WHR-adj-BMI_GIANT_2018_txt_gz"
		],

		"kept_qtl":
		[
			"Liver_allpairs_txt_gz_eQTLs_txt_gz",
			"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz",
			"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz",
			"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz",
			"Pancreas_allpairs_txt_gz_eQTLs_txt_gz",
			"Liver_sQTLs_txt_gz",
			"Adipose_Visceral_Omentum_sQTLs_txt_gz",
			"Adipose_Subcutaneous_sQTLs_txt_gz",
			"Muscle_Skeletal_sQTLs_txt_gz",
			"Pancreas_sQTLs_txt_gz"	
		],
		"gwas_pval_threshold":			
		{
			"standard": 5e-8,		
			"exceptions":			
			{
				"MI_adjBMI_European_txt_gz": 1e-5,
				"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz": 1e-5
			}
		},
		"qtl_pval_threshold":			
		{
			"standard": 1e-5
		},
		"snp_count_min_threshold": 20
	},
	"add_hgnc_names":
	{
		"ensemble_to_hgnc_map_file": "data/hgnc/ensembl_to_hgnc.txt",
		"ensembl_col_index": 1,
		"hgnc_col_index": 3
	},
	"add_rsids":
	{
		"genome_file": "hg38"
	},
	"assign_locus_numbers":
	{
		"genome_file": "hg38"
	},

	"classify_results":
	{
		"rules" :
		{
			"step1_coloc_sorting":
			{
				"type": "num_colocs",
				"categories":
				{
					"one_candidate_one_coloc":
					{
						"num_candidates_equals": "1",
						"num_colocs_equals": "1"
					},
					"one_candidate_no_coloc":
					{
						"num_candidates_equals": "1",
						"num_colocs_equals": "0"
					},
					"multi_candidate_one_coloc":
					{
						"num_candidates_greater_than": "1",
						"num_colocs_equals": "1"
					},
					"multi_candidate_multi_coloc":
					{
						"num_candidates_greater_than": "1",
						"num_colocs_greater_than": "1"
					},
					"multi_candidate_no_coloc":
					{
						"num_candidates_greater_than": "1",
						"num_colocs_equals": "0"
					}
				}
			},
			"step2_tissue_sorting":
			{
				"type": "specificity",
				"column": "qtl_tissue",
				"categories":
				[
					{
						"class_name": "AdpS",
						"contains_exactly":
						[
							"Subcutaneous-Adipose"
						]
					},
					{
						"class_name": "AdpV",
						"contains_exactly":
						[
							"Visceral-Adipose"
						]
					},
					{
						"class_name": "AdpS+V",
						"contains_exactly":
						[
							"Subcutaneous-Adipose",
							"Visceral-Adipose"
						]
					},
					{
						"class_name": "Musk",
						"contains_exactly":
						[
							"Skeletal-Muscle"
						]
					},
					{
						"class_name": "Liver",
						"contains_exactly":
						[
							"Liver"
						]
					},
					{
						"class_name": "Pancreas",
						"contains_exactly":
						[
							"Pancreas"
						]
					},
					{
						"class_name": "Shared"
					}
				]
			},
			"step3_gwas_sorting":
			{
				"type": "specificity",
				"column": "gwas_short_trait",
				"categories":
				[
					{
						"class_name": "IR",
						"contains_some":
						[
							"MI",
							"ISI"
						]
					},
					{
						"class_name": "T2D-FG-FI",
						"contains_some":
						[
							"T2D",
							"FG",
							"FI"
						]
					},
					{
						"class_name": "WHR",
						"contains_some":
						[
							"WHR"
						]
					},
					{
						"class_name": "TG-HDL",
						"contains_some":
						[
							"TG",
							"HDL"
						]
					},
					{
						"class_name": "BMI",
						"contains_some":
						[
							"BMI"
						]
					}
				]
			}
		}
	},
	"get_ld_buddies":
	{
		"ld_file": "data/ld/EUR_geno_hg38.txt.gz",
		"genome": "hg38"
	},
	"get_vep_consequences":
	{
		"cadd_file": "data/other-cadd/whole_genome_SNVs_inclAnno_1KG_subset.tsv.gz",
		"genome": "hg38"
	},
	"make_heatmaps":
	{
		"gwas_column": "gwas_short_trait",
		"tissue_column": "qtl_tissue",
		"type_column": "qtl_type", 
		"tissue_order": ["Subcutaneous-Adipose", "Visceral-Adipose",  "Skeletal-Muscle", "Liver", "Pancreas"],
		"gwas_order": ["ISI", "FI", "FG", "T2D","WHR","HDL","TG","BMI"],
		"cluster": "False",
		"put_scores_in_cells": "True",
		"y_axis_collapse": "none",
		"x_axis_collapse": "none",
		"file_strata":
		[
			{
				"out_dir": "concise/step1/",
				"split_factors": ["step1_coloc_sorting"],
				"concise": "True",
				"gwas_blacklist": ["ISI"]
			},
			{
				"out_dir": "concise/step2/",
				"split_factors": ["step2_tissue_sorting"],
				"concise": "True",
				"gwas_blacklist": ["ISI"]
			},
			{
				"out_dir": "concise/step3/",
				"split_factors": ["step3_gwas_sorting"],
				"concise": "True",
				"gwas_blacklist": ["ISI"]
			}
		]
	},
	"plot_category_bars":
	{
		"orders":
		{
			"step1_coloc_sorting":
			[
				"multi_candidate_multi_coloc",
				"multi_candidate_one_coloc",
				"multi_candidate_no_coloc",
				"one_candidate_one_coloc",
				"one_candidate_no_coloc"
			],
			"step2_tissue_sorting":
			[
				"AdpS",
				"AdpV",
				"AdpS+V",
				"Liver",
				"Musk",
				"Pancreas",
				"Shared"
			],
			"step3_gwas_sorting":
			[
				"IR",
				"T2D-FG-FI",
				"WHR",
				"TG-HDL",
				"BMI"
			]
		},
		"colors":
		{
			"step1_coloc_sorting":
			[
				"#A5B8B4", 
				"#C7D3D1", 
				"#E8ECEC", 
				"#94A1AC", 
				"#D8DDE1" 
			],
			
			"step2_tissue_sorting":
			[
				"#FF6600",
		                "#FFAA00",
 				"#d45500",
				"#AABB66",
				"#AAAAFF",
				"#995522",
				"#c2c2c2"
			]

		}
	}
}
