{
	"post_hoc_filter":
	{
		"colocalization_threshold": 0.35,
		"kept_gwas":
		[
			"BMI_GIANT_2018.txt.gz",
			"FastGlu_MAGIC_Europeans.txt.gz",
			"FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
			"HDL_GLGC_Expanded.txt.gz",
			"TG_GLGC_Expanded.txt.gz",
			"MI_adjBMI_European.txt.gz",
			"MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
			"T2D_Mahajan_Europeans.txt.gz",
			"Type-2-Diabetes_Xue_2018.txt.gz",
			"Type-2-Diabetes_Suzuki_2019.txt.gz",
			"Type-2-Diabetes_Spracklen_2020.txt.gz",
			"WHR-adj-BMI_GIANT_2018.txt.gz"
		],

		"kept_qtl":
		[
			"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz",
			"data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz",
			"data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz",
			"data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz",
			"data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz",
			"data/sqtls/gtex_v8/Liver.sQTLs.txt.gz",
			"data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz",
			"data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz",
			"data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz",
			"data/sqtls/gtex_v8/Pancreas.sQTLs.txt.gz"
		],
		"gwas_pval_threshold":			
		{
			"standard": 5e-8,		
			"exceptions":			
			{
				"MI_adjBMI_European.txt.gz": 1e-5,
				"MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": 1e-5
			}
		},
		"qtl_pval_threshold":			
		{
			"standard": 1e-5
		},
		"snp_count_min_threshold": 20
	},

	"mutate_columns":
	{
		"mutations":
		[
			{
				"in": "gwas_trait",
				"out": "gwas_short_trait",
				"map":
				{
					"BMI_GIANT_2018.txt.gz": "BMI",
					"FastGlu_MAGIC_Europeans.txt.gz": "FG",
					"FastInsu_adjBMI_MAGIC_Europeans.txt.gz": "FI",
					"HDL_GLGC_Expanded.txt.gz" : "HDL",
					"TG_GLGC_Expanded.txt.gz": "TG",
					"MI_adjBMI_European.txt.gz": "MI",
					"MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": "ISI",
					"T2D_Mahajan_Europeans.txt.gz": "T2D",
					"Type-2-Diabetes_Xue_2018.txt.gz": "T2D",
					"Type-2-Diabetes_Suzuki_2019.txt.gz": "T2D",
					"Type-2-Diabetes_Spracklen_2020.txt.gz": "T2D",
					"WHR-adj-BMI_GIANT_2018.txt.gz": "WHR"	
				}
			},
			{
				"in": "qtl_file",
				"out": "qtl_tissue",
				"map":
				{
					"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": "Liver",
					"data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz": "Visceral-Adipose",
					"data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz": "Subcutaneous-Adipose",
					"data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz": "Skeletal-Muscle",
					"data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz": "Pancreas",
					"data/sqtls/gtex_v8/Liver.sQTLs.txt.gz": "Liver",
					"data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz": "Visceral-Adipose",
					"data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz": "Subcutaneous-Adipose",
					"data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz": "Skeletal-Muscle",
					"data/sqtls/gtex_v8/Pancreas.sQTLs.txt.gz": "Pancreas"
				}
			},
			{
				"in": "qtl_file",
				"out": "qtl_type",
				"map":
				{
					"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": "eQTL",
					"data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz": "eQTL",
					"data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz": "eQTL",
					"data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz": "eQTL",
					"data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz": "eQTL",
					"data/sqtls/gtex_v8/Liver.sQTLs.txt.gz": "sQTL",
					"data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz": "sQTL",
					"data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz": "sQTL",
					"data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz": "sQTL",
					"data/sqtls/gtex_v8/Pancreas.sQTLs.txt.gz": "sQTL"
				}
			}
		]
	},
	
	"add_hgnc_names":
	{
		"ensembl_to_hgnc_map_file": "data/hgnc/ensembl_to_hgnc.txt",
		"ensembl_col_index": 1,
		"hgnc_col_index": 3
	},
	"assign_locus_numbers":
	{
		"genome_file": "hg38"
	},

	"classify_results":
	{
		"rules" :
		{
			"step1_coloc_sorting":
			{
				"type": "num_colocs",
				"categories":
				{
					"one_candidate_one_coloc":
					{
						"num_candidates_equals": "1",
						"num_colocs_equals": "1"
					},
					"one_candidate_no_coloc":
					{
						"num_candidates_equals": "1",
						"num_colocs_equals": "0"
					},
					"multi_candidate_one_coloc":
					{
						"num_candidates_greater_than": "1",
						"num_colocs_equals": "1"
					},
					"multi_candidate_multi_coloc":
					{
						"num_candidates_greater_than": "1",
						"num_colocs_greater_than": "1"
					},
					"multi_candidate_no_coloc":
					{
						"num_candidates_greater_than": "1",
						"num_colocs_equals": "0"
					}
				}
			},
			"step2_tissue_sorting":
			{
				"type": "specificity",
				"column": "qtl_tissue",
				"categories":
				[
					{
						"class_name": "AdpS",
						"contains_exactly":
						[
							"Subcutaneous-Adipose"
						]
					},
					{
						"class_name": "AdpV",
						"contains_exactly":
						[
							"Visceral-Adipose"
						]
					},
					{
						"class_name": "AdpS+V",
						"contains_exactly":
						[
							"Subcutaneous-Adipose",
							"Visceral-Adipose"
						]
					},
					{
						"class_name": "Musk",
						"contains_exactly":
						[
							"Skeletal-Muscle"
						]
					},
					{
						"class_name": "Liver",
						"contains_exactly":
						[
							"Liver"
						]
					},
					{
						"class_name": "Pancreas",
						"contains_exactly":
						[
							"Pancreas"
						]
					},
					{
						"class_name": "Shared"
					}
				]
			},
			"step3_gwas_sorting":
			{
				"type": "specificity",
				"column": "gwas_short_trait",
				"categories":
				[
					{
						"class_name": "IR",
						"contains_some":
						[
							"MI",
							"ISI"
						]
					},
					{
						"class_name": "T2D-FG-FI",
						"contains_some":
						[
							"T2D",
							"FG",
							"FI"
						]
					},
					{
						"class_name": "WHR",
						"contains_some":
						[
							"WHR"
						]
					},
					{
						"class_name": "TG-HDL",
						"contains_some":
						[
							"TG",
							"HDL"
						]
					},
					{
						"class_name": "BMI",
						"contains_some":
						[
							"BMI"
						]
					}
				]
			}
		}
	},
	"get_ld_buddies":
	{
		"ld_file": "data/ld/EUR_geno_hg38.txt.gz",
		"genome": "hg38"
	},
	"get_vep_consequences":
	{
		"cadd_file": "data/other-cadd/whole_genome_SNVs_inclAnno_1KG_subset.tsv.gz",
		"genome": "hg38"
	},
	"make_heatmaps":
	{
		"gwas_column": "gwas_short_trait",
		"tissue_column": "qtl_tissue",
		"type_column": "qtl_type", 
		"tissue_order": ["Subcutaneous-Adipose", "Visceral-Adipose",  "Skeletal-Muscle", "Liver", "Pancreas"],
		"gwas_order": ["MI", "ISI", "FI", "FG", "T2D","WHR","HDL","TG","BMI"],
		"cluster": "False",
		"put_scores_in_cells": "True",
		"y_axis_collapse": "none",
		"x_axis_collapse": "none",
		"file_strata":
		[
			{
				"out_dir": "concise/step1/",
				"split_factors": ["step1_coloc_sorting"],
				"concise": "True",
				"gwas_blacklist": ["ISI"]
			},
			{
				"out_dir": "concise/step2/",
				"split_factors": ["step2_tissue_sorting"],
				"concise": "True",
				"gwas_blacklist": ["ISI"]
			},
			{
				"out_dir": "concise/step3/",
				"split_factors": ["step3_gwas_sorting"],
				"concise": "True",
				"gwas_blacklist": ["ISI"]
			}
		]
	},
	"plot_category_bars":
	{
		"orders":
		{
			"step1_coloc_sorting":
			[
				"multi_candidate_multi_coloc",
				"multi_candidate_one_coloc",
				"multi_candidate_no_coloc",
				"one_candidate_one_coloc",
				"one_candidate_no_coloc"
			],
			"step2_tissue_sorting":
			[
				"AdpS",
				"AdpV",
				"AdpS+V",
				"Liver",
				"Musk",
				"Pancreas",
				"Shared"
			],
			"step3_gwas_sorting":
			[
				"IR",
				"T2D-FG-FI",
				"WHR",
				"TG-HDL",
				"BMI"
			]
		},
		"colors":
		{
			"step1_coloc_sorting":
			[
				"#A5B8B4", 
				"#C7D3D1", 
				"#E8ECEC", 
				"#94A1AC", 
				"#D8DDE1" 
			],
			
			"step2_tissue_sorting":
			[
				"#FF6600",
		                "#FFAA00",
 				"#d45500",
				"#AABB66",
				"#AAAAFF",
				"#995522",
				"#c2c2c2"
			]

		}
	},
	"summarize_filter_counts":
	{
		"pre_overlap_file":
		{
			"filename": "data/pre_coloc_results/all_snp_gene_pairs_prefiltering.txt",
			"gwas_column": "gwas_trait",
			"qtl_column": "qtl_file",
			"gwas_mapping":
			{
				"data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz": "BMI_GIANT_2018.txt.gz",
				"data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz": "FastGlu_MAGIC_Europeans.txt.gz",
				"data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz": "FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
				"data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz": "HDL_GLGC_Expanded.txt.gz",
				"data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": "MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
				"data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz": "MI_adjBMI_European.txt.gz",
				"data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz": "T2D_Mahajan_Europeans.txt.gz",
				"data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz": "TG_GLGC_Expanded.txt.gz",
				"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Spracklen_2020/Type-2-Diabetes_Spracklen_2020.txt.gz": "Type-2-Diabetes_Spracklen_2020.txt.gz",
				"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Suzuki_2019/Type-2-Diabetes_Suzuki_2019.txt.gz": "Type-2-Diabetes_Suzuki_2019.txt.gz",
				"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Xue_2018/Type-2-Diabetes_Xue_2018.txt.gz": "Type-2-Diabetes_Xue_2018.txt.gz",
				"data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz": "WHR-adj-BMI_GIANT_2018.txt.gz"
			}
		}
	}
}
